{
	"plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.astro",
			"options": {
				"parser": "astro"
			}
		}
	],
	"bracketSameLine": false,
	"proseWrap": "always",
	"semi": true,
	"singleQuote": true,
	"trailingComma": "all"
}
