---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Link from '@/components/Link.astro';
import type { PostFrontmatter } from '@/types';

const posts = await getPosts();

const nonDraftPosts = posts.filter((post) => !Object.hasOwn(post, 'draft'));

function getPosts() {
  return Astro.glob<PostFrontmatter>('./*.md');
}
---

<BaseLayout title="Christopher Vaillancourt">
  <h1 class="text-gradient">Posts</h1>
  {
    nonDraftPosts.map((post) => (
      <article>
        <h3>{post.frontmatter.title}</h3>
        <p>{post.frontmatter.summary}</p>
        <Link href={post.url}>Read more</Link>
      </article>
    ))
  }
</BaseLayout>
