---
import { getPublishedPosts, postUrl } from '@/lib/posts';
import BaseLayout from '@/layouts/BaseLayout.astro';
import Link from '@/components/Link.astro';

const posts = await getPublishedPosts();
---

<BaseLayout title="Christopher Vaillancourt">
  <h1>Posts</h1>
  {
    posts.map(({ slug, data: { title, summary } }) => (
      <article>
        <Link href={postUrl(slug)}>
          <h3>{title}</h3>
        </Link>
        {summary && <p>{summary}</p>}
        <Link href={postUrl(slug)}>Read more</Link>
      </article>
    ))
  }
</BaseLayout>
