@import 'open-props/normalize' layer(normalize);

:root {
  --link: var(--indigo-2);
  --grid-columns: 1fr min(var(--size-content-3), 100%) 1fr;
  --grid-column: 2;
}

html {
  line-height: var(--font-lineheight-4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: var(--size-3);
}

p,
ul,
ol {
  margin-bottom: var(--size-7);
}

a[href],
a[href]:visited {
  color: var(--link);
  text-decoration-color: var(--link);
}

.app-grid {
  display: grid;
  grid-template-columns: var(--grid-columns);
  grid-template-rows: min-content;
}
.app-grid > * {
  grid-column: var(--grid-column);
}

body {
  overflow-y: scroll;
}

header {
  margin-bottom: var(--size-7);
}
