@layer normalize, theme;
@import './normalize.css' layer(normalize);
@import './theme.css' layer(theme);

:root {
  --grid-columns: 1fr min(var(--size-content-3), 100%) 1fr;
  --grid-column: 2;
  --link: var(--brand);
  --link-visited: var(--brand);
}

.app-grid {
  display: grid;
  grid-template-columns: var(--grid-columns);
  grid-template-rows: min-content;
}
.app-grid > * {
  grid-column: var(--grid-column);
}
