@import 'open-props/normalize' layer(normalize);

@layer normalize {
  *::selection {
    background-color: var(--brand);
    color: var(--surface-1);
  }

  html {
    line-height: var(--font-lineheight-4);
    background-color: var(--surface-1);
    color: var(--text-1);
    accent-color: var(--brand);
  }
  h1 {
    max-inline-size: var(--size-header-2);
    margin-block-end: var(--size-8);
  }
  section {
    margin-block-end: var(--size-8);
  }

  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-block-end: var(--size-3);
  }

  ul,
  ol {
    margin-bottom: var(--size-7);
  }
  ul {
    list-style: none;
  }
  ul,
  ol,
  li {
    padding-inline-start: 0;
  }

  body {
    overflow-y: scroll;
  }
}
