@import "open-props/normalize";

:root {
  --link-visited: var(--link); /* use consistent link style */
}

body {
  font-family: var(--font-sans);
}

a[href],
a[href]:visited {
  color: var(--link);
  text-decoration-color: var(--link);
}
