---
import BaseLayout from '@/layouts/BaseLayout.astro';
import ResumeExperienceItem from '@/components/Resume/ResumeExperienceItem.astro';
import { experiences } from '@/components/Resume/experience';
import { skillGroups } from '@/components/Resume/skills';

// This component is really a page
// it should go into the pages dir
// keeping it here so it isn't published during build
---

<BaseLayout title="Christopher Vaillancourt" showNav={false}>
  <main>
    <article class="wrapper">
      <header>
        <div>
          <h1>Christopher Vaillancourt</h1>
        </div>
        <address>
          <a href="tel:+16196309056"> 📞 (619) 630-9056</a>
          <a href="mailto:chris.d.vaillancourt@gmail.com">
            ✉️ chris.d.vaillancourt@gmail.com
          </a>
          <a href="https://www.chrisvaillancourt.io/"> 🔗 Website</a>
          <a href="https://www.linkedin.com/in/chrisdvaillancourt/">
            🔗 Linkedin</a
          >
        </address>
      </header>
      <article class="experience">
        <header>
          <h2>Experience</h2>
        </header>

        {
          [...experiences].map((experience) => (
            <>
              <ResumeExperienceItem {...experience} />
            </>
          ))
        }
      </article>
      <article class="skills">
        <h2>Skills</h2>
        {
          skillGroups.map((skill) => (
            <section>
              <h3>{skill.headingText}</h3>
              <ul class="skill-list">
                {skill.items.map((item) => (
                  <li>{item}</li>
                ))}
              </ul>
            </section>
          ))
        }
      </article>
      <article class="education">
        <h3>Education</h3>
        <section>
          <h4>B.S. Geographic Information Systems & Cartography</h4>
          <ul class="education-list">
            <li>University of Maryland, College Park</li>
            <li>September 2012 — May 2016</li>
            <li>Minors: Business | Philosophy</li>
            <li>GPA: 3.75</li>
          </ul>
        </section>
      </article>
    </article>
  </main>
</BaseLayout>

<style>
  html {
    max-width: unset;
    padding-left: var(--size-00);
    padding-right: var(--size-00);
  }
  main {
    max-height: 100vh;
    display: flex;
    justify-content: center;
  }
  h1 {
    font-size: var(--font-size-6);
  }
  h2 {
    font-size: var(--font-size-4);
  }
  address {
    padding-block-start: var(--size-2);
    font-size: var(--font-size-1);
  }
  .wrapper {
  }
  .article {
    padding-block-start: var(--size-8);
    display: flex;
    flex-direction: column;
  }
  .skill-list {
    display: flex;
  }
  .skills {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
  }
</style>
