---
interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<article class={className}>
  <h3>Education</h3>
  <section>
    <h4>B.S. Geographic Information Systems & Cartography</h4>
    <ul class="education-list">
      <li>University of Maryland, College Park</li>
      <li>September 2012 — May 2016</li>
      <li>Minors: Business | Philosophy</li>
      <li>GPA: 3.75</li>
    </ul>
  </section>
</article>
