---
import { NAV_LINKS } from '@/data/constants';

// We only need the date it was first published but keeping it current looks nice
// see: https://hynek.me/til/copyright-years/
const year = new Date().getFullYear();
---

<footer
	class="mt-auto flex w-full flex-col items-center justify-center gap-y-2 pb-4 pt-20 text-center align-top text-gray-500 sm:flex-row sm:justify-between sm:text-xs"
>
	<div class="me-0 sm:me-4">
		Copyright &copy; {year}
		<span class="ml-2" aria-label="cactus emoji">🌵</span>
		Chris Vaillancourt
	</div>
	<nav
		aria-label="More on this site"
		class="flex gap-x-2 sm:gap-x-0 sm:divide-x sm:divide-gray-500"
	>
		{
			NAV_LINKS.map((link) => (
				<a
					href={link.path}
					class="px-4 py-2 sm:px-2 sm:py-0 sm:hover:text-textColor sm:hover:underline"
				>
					{link.title}
				</a>
			))
		}
	</nav>
</footer>
