---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Link from '@/components/Link.astro';
---

<BaseLayout title="Not Found Chris Vaillancourt">
  <article>
    <h1>404</h1>
    <p>Oops, this page doesn't exist.</p>
    <p>Back to <Link href="/" target="_self">Home</Link>.</p>
  </article>
</BaseLayout>
