---
import { publishedPostsByDate } from '@/lib/posts';
import BaseLayout from '../layouts/BaseLayout.astro';
import PostsList from '@/components/PostsList.astro';

const recentPosts = (await publishedPostsByDate()).slice(0, 3);
---

<BaseLayout title="Christopher Vaillancourt">
  <article class="intro">
    <h1>Christopher Vaillancourt</h1>
    <h2>Full stack software engineer</h2>
  </article>
  <article>
    <h3>Recent Posts</h3>
    <PostsList posts={recentPosts} />
  </article>
</BaseLayout>

<style>
  :root {
    --gradient: linear-gradient(0deg, #4f39fa, #da62c4);
  }

  h1 {
    background-image: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }
  h1::selection {
    -webkit-text-fill-color: initial;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }
  .intro {
    margin-bottom: var(--size-8);
  }
</style>
