---
import { getCollection } from 'astro:content';
import PageLayout from '@/layouts/Base';
import PostPreview from '@/components/blog/PostPreview';
import SocialList from '@/components/SocialList';
import Heading from '@/components/Heading';
import Paragraph from '@/components/Paragraph';
import { sortMDByDate } from '@/utils';

const MAX_POSTS = 10;
const allPosts = await getCollection('post');
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: 'Home' }}>
	<section class="prose">
		<Heading level="1">Chris Vaillancourt</Heading>
		<Paragraph>Full Stack Software Engineer</Paragraph>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<Heading level="2">Posts</Heading>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
