---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Christopher Vaillancourt">
  <article>
    <h1 class="text-gradient">Christopher Vaillancourt</h1>
    <h2>Full stack software engineer</h2>
  </article>
</BaseLayout>

<style>
  :root {
    --gradient: linear-gradient(0deg, #4f39fa, #da62c4);
  }

  .text-gradient {
    background-image: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }
</style>
