---
import PageLayout from '@/layouts/Base';
import PostPreview from '@/components/blog/PostPreview';
import SocialList from '@/components/SocialList';
import Heading from '@/components/Heading';
import Paragraph from '@/components/Paragraph';
import { postsByDate } from '@/lib/post';
import { getPostsCollection } from '@/lib/post';

const MAX_POSTS = 10;
const allPosts = await getPostsCollection();
const allPostsByDate = postsByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: 'Home' }}>
	<section>
		<Heading level="1">Chris Vaillancourt</Heading>
		<Paragraph>Full Stack Software Engineer</Paragraph>
		<SocialList>
			<Paragraph slot="prefix">Find me on:</Paragraph>
		</SocialList>
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<Heading level="2">Posts</Heading>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((post) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={post} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
