@import 'open-props/normalize';
@import 'open-props/style';

:root {
  --link-visited: var(--link); /* use consistent link style */
  /* background */
  --bg-color-dark: black;
  --bg-color-light: white;
  /* text */
  --color-light: black;
  --color-dark: white;
  /* defaults */
  --bg-color: var(--bg-color-light);
  --color: var(--color-light);
  --content-padding-block-start: var(--size-fluid-2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: var(--bg-color-dark);
    --color: var(--color-dark);
  }
}

body {
  font-family: var(--font-sans);
}

a[href],
a[href]:visited {
  color: var(--link);
  text-decoration-color: var(--link);
}
h1 {
  font-size: var(--font-size-6);
}
.content {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--color);
}
::selection {
  background: var(--color);
  color: var(--bg-color);
}
