---
import Link from '@/components/Link';

interface Props {
	logo: string;
	links?: readonly { path: string; title: string }[];
}

const { logo, links = [] } = Astro.props;
const url = new URL(Astro.request.url);
---

<header class="mb-12 block sm:flex sm:gap-10">
	<Link
		href="/"
		no-underline
		class="flex items-center"
		aria-current={url.pathname === '/' ? 'page' : false}
	>
		<div class="pe-3 text-3xl">{logo}</div>
		<span class="header-title text-2xl font-bold">
			<slot name="title" />
		</span>
	</Link>
	{
		links.length > 0 && (
			<nav class="ml-8 mt-5 flex items-center sm:ml-0 sm:mt-0">
				<ul class="flex divide-x divide-dashed divide-accent text-accent">
					{links.map((link) => (
						<li>
							<Link
								href={link.path}
								no-underline
								class="px-4 py-4 sm:py-0 sm:hover:underline"
								aria-current={url.pathname === link.path ? 'page' : false}
							>
								{link.title}
							</Link>
						</li>
					))}
				</ul>
			</nav>
		)
	}
</header>
