---
import Link from '@/components/Link';
import { NAV_LINKS } from '@/lib/constants';

const url = new URL(Astro.request.url);
---

<header class="mb-28 grid grid-cols-1 items-center gap-4 md:grid-cols-2">
	<Link
		href="/"
		no-underline
		class="relative flex items-center"
		aria-current={url.pathname === '/' ? 'page' : false}
	>
		<div class="pe-3 text-3xl">🌵</div>
		<span class="header-title text-2xl font-bold">
			<slot name="title" />
		</span>
	</Link>
	<nav class="ms-10">
		<ul class="flex divide-x divide-dashed divide-accent text-accent">
			{
				NAV_LINKS.map((link) => (
					<li>
						<Link
							href={link.path}
							no-underline
							class="px-4 py-4 sm:py-0 sm:hover:underline"
							aria-current={url.pathname === link.path ? 'page' : false}
						>
							{link.title}
						</Link>
					</li>
				))
			}
		</ul>
	</nav>
</header>
