---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const {
  href = '#',
  target = '_blank',
  rel = 'noreferrer',
  ...attrs
} = Astro.props;
---

<a href={href} target={target} rel={rel} {...attrs}>
  <slot />
</a>

<style>
  @import '@/styles/link.css';
</style>
