---
import type { HTMLAttributes } from 'astro/types';
interface Props extends HTMLAttributes<'a'> {
	primary?: boolean;
	secondary?: boolean;
	'hover-underline'?: boolean;
	badge?: boolean;
	'badge-success'?: boolean;
}

const {
	href = '#',
	target = '_blank',
	rel = 'noreferrer',
	class: className,
	primary,
	secondary,
	'hover-underline': hoverUnderline,
	badge,
	'badge-success': badgeSuccess,
	...attrs
} = Astro.props;

const classes = [
	'link',
	{
		'link-primary': primary,
		'link-hover': hoverUnderline,
		'link-secondary': secondary,
		badge: badge || badgeSuccess,
		'badge-success': badgeSuccess,
		[className ?? '']: className,
	},
];
---

<a href={href} target={target} rel={rel} class:list={classes} {...attrs}>
	<slot />
</a>
