---
import Link from '@/components/Link.astro';

export interface Props {
  links: {
    href: string;
    text: string;
  }[];
}

const { links } = Astro.props as Props;
---

<nav>
  {links.map(({ href, text }) => <Link href={href}>{text}</Link>)}
</nav>
