---
import NavHamburger from '@/components/NavHamburger.astro';

export interface Props {
  links: {
    href: string;
    text: string;
  }[];
  class?: string;
}

const { links, class: className } = Astro.props;
---

<nav class={className}>
  <ul>
    {
      links?.map(({ href, text }) => (
        <li>
          <a href={href}>{text}</a>
        </li>
      ))
    }
  </ul>
  <NavHamburger class="hamburger" links={links} />
</nav>
<style>
  nav {
    display: flex;
    justify-content: flex-end;
    gap: var(--size-2);
  }
  nav > a:last-child {
    padding-inline-end: 0;
    margin-inline-end: 0;
  }
  ul {
    list-style: none;
    display: flex;
  }
  nav > ul {
    margin-bottom: 0;
  }
  .hamburger {
    display: none;
  }
  @media (--sm-n-below) {
    .hamburger {
      display: initial;
    }
    ul {
      display: none;
    }
  }
</style>
