---
import Link from '@/components/Link.astro';

export interface Props {
  links: {
    href: string;
    text: string;
  }[];
  class: string;
}

const { links, class: className } = Astro.props as Props;
---

<nav class={className}>
  {links.map(({ href, text }) => <Link href={href}>{text}</Link>)}
</nav>
