---
import Link from './Link.astro';

export interface Props {
  links: {
    to: string;
    text: string;
  }[];
}

const { links } = Astro.props as Props;
---

<nav>
  {links.map(({ to, text }) => <Link href={to}>{text}</Link>)}
</nav>
