---
import type { BlogPost } from '@/types';
import Link from '@/components/Link.astro';
import { postUrl } from '@/lib/posts';
import DateTime from '@/components/DateTime.astro';

interface Props {
  posts: BlogPost[];
  showPublished?: boolean;
}
const { posts, showPublished = true } = Astro.props;
// TODO pass title to the slot
// https://stackoverflow.com/questions/74976824/can-i-pass-props-from-a-child-component-to-parent-in-astro
---

<ul>
  {
    posts.map(({ slug, data: { title, added } }) => (
      <li>
        <Link href={postUrl(slug)}>
          {title}{' '}
          {showPublished && <DateTime datetime={added} class="added-date" />}
        </Link>
      </li>
    ))
  }
</ul>

<style>
  .added-date {
    font-size: var(--font-size-1);
    color: var(--text-2);
  }
</style>
