---
import type { CollectionEntry } from 'astro:content';
import Link from '@/components/Link.astro';
import { postUrl } from '@/lib/posts';
import PostListItemDate from '@/components/PostListItemDate.astro';

interface Props {
  posts: CollectionEntry<'blog'>[];
  showPublished?: boolean;
}
const { posts, showPublished = true } = Astro.props;
---

<ul>
  {
    posts.map(({ slug, data: { title, added } }) => (
      <li>
        <Link href={postUrl(slug)}>
          {title}{' '}
          {showPublished && (
            <PostListItemDate>{added.toLocaleDateString()}</PostListItemDate>
          )}
        </Link>
      </li>
    ))
  }
</ul>
