---
import type { CollectionEntry } from 'astro:content';
import Link from '@/components/Link.astro';
import { postUrl } from '@/lib/posts';

interface Props {
  posts: CollectionEntry<'blog'>[];
  showPublished?: boolean;
}
const { posts, showPublished = true } = Astro.props;
---

<ul>
  {
    posts.map(({ slug, data: { title, added } }) => (
      <li>
        <Link href={postUrl(slug)}>
          {title}{' '}
          {showPublished && (
            <span class="added-date">{added.toLocaleDateString()}</span>
          )}
        </Link>
      </li>
    ))
  }
</ul>

<style>
  .added-date {
    font-size: var(--font-size-1);
    color: var(--text-2);
  }
</style>
