---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'span'>;
const { class: className = '', ...attrs } = Astro.props;
---

<span {...attrs} class={`added-date ${className}`}>
  <slot />
</span>
<style>
  .added-date {
    font-size: var(--font-size-1);
    color: var(--text-2);
  }
</style>
