---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'span'> {}
const { ...attrs } = Astro.props;

/*
 * It would be better to put the `#` in a named slot i.e.:
 * <slot name="prepend">#</slot>
 * but doing so adds extra space between the inline elements.
 * Using flexbox to remove the space (i.e. display: inline-flex)
 * works but that removes the link decoration styles.
 */
---

<span {...attrs}>
  #<slot />
</span>

<style>
  span {
    color: var(--text-2);
    font-family: var(--font-mono);
  }
</style>
