---
import { LIGHT_THEME_NAME } from '@/lib/theme';
import Icon from '@/components/Icon';
import { weatherSunny, weatherNight } from '@/lib/icons';
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'label'> {}
const { class: className } = Astro.props;
---

<label class:list={['swap swap-rotate', className]}>
	<input type="checkbox" class="theme-controller" value={LIGHT_THEME_NAME} />
	<Icon
		name="theme icon"
		path={weatherSunny}
		class="swap-on h-7 w-7 fill-current"
		aria-hidden="true"
		focusable="false"
	/>
	<Icon
		name="theme icon"
		path={weatherNight}
		class="swap-off h-7 w-7 fill-current"
		aria-hidden="true"
		focusable="false"
	/>
</label>
