---
import Link from '@/components/Link';

interface Props {
	tags: readonly string[];
}

const { tags } = Astro.props;
---

{
	tags.map((tag, i) => (
		<span>
			<Link
				class="before:content-['#']"
				aria-label={`View more blogs with the tag ${tag}`}
				href={`/tags/${tag}/`}
			>
				{tag}
			</Link>
			{i < tags.length - 1 && ', '}
		</span>
	))
}
