---
// @ts-expect-error ts isn't aware of the module's exports
import Nav from '@/components/Nav.astro';
import '@/styles/global.css';
export interface Props {
  title?: string;
}

const { title = 'Chris Vaillancourt' } =
  (Astro.props as Props) || (Astro.props.frontmatter as Props);

const navLinks = [
  {
    href: '/',
    text: 'Home',
  },
  {
    href: '/posts',
    text: 'Posts',
  },
  {
    href: '/about',
    text: 'About',
  },
  {
    href: '/contact',
    text: 'Contact',
  },
];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐢</text></svg>"
    />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Christopher Vaillancourt's personal website"
    />
    <title>{title}</title>
  </head>
  <body>
    <Nav links={navLinks} />
    <slot />
  </body>
</html>
