---
import BaseLayout from './BaseLayout.astro';
import type { MarkdownLayoutProps } from 'astro';
import type { PostFrontmatter } from '@/types';

type PostLayoutProps = MarkdownLayoutProps<PostFrontmatter>;

// TODO open new links in a new tab
// add a PostContent component that taks the result of `compiledContent()`
// and modifies the anchor tag as needed

const {
  frontmatter: { title, summary, added },
  // @ts-expect-error TODO add custom parser to configure how links open in new tab
  // eslint-disable-next-line no-unused-vars
  compiledContent,
} = Astro.props as PostLayoutProps;
---

<BaseLayout>
  <h2>{title}</h2>
  <time>{added}</time>
  <p>{summary}</p>

  <slot />
</BaseLayout>
